<fieldset>
	<!-- IF S_RECURRING -->
		
		<dl>
			<dt>
				<label for="recurring_enabled">{L_MCP_RECURRING_ENABLED}{L_COLON}</label>
                <div>{L_MCP_RECURRING_DEL_WARNING}</div>
			</dt>
			<dd>
				<input type="checkbox" name="recurring_enabled" value="1" <!-- IF S_RECURRING_ENABLED -->checked="checked"<!-- ENDIF --> />
			</dd>
		</dl>

	<!-- ENDIF -->

	<dl>
		<dt>
			<label for="name">{L_MCP_LOTTERY_NAME}{L_COLON}</label>
		</dt>
		<dd>
			<input type="text" name="name" class="inputbox" maxlength="255" value="{S_LOTTERY_NAME}" />
		</dd>
	</dl>

	<!-- IF S_RECURRING -->

		<dl>
			<dt>
				<label for="game_length">{L_MCP_GAME_LENGTH}{L_COLON}</label>
			</dt>
			<dd>
				<input type="text" name="game_length" class="inputbox" maxlength="20" value="{S_GAME_LENGTH}" />
			</dd>
		</dl>

	<!-- ELSE -->

		<dl>
			<dt>
				<label for="start_date">{L_MCP_START_TIME}{L_COLON}</label>
			</dt>
			<dd>
				<label for="start_date_day">
					{L_DAY}{L_COLON}
					<select name="start_date_day">
						{S_LOTTERY_START_DAY_OPTIONS}
					</select>
				</label>
				<label for="start_date_month">
					{L_MONTH}{L_COLON}
					<select name="start_date_month">
						{S_LOTTERY_START_MONTH_OPTIONS}
					</select>
				</label>
				<label for="start_date_year">
					{L_YEAR}{L_COLON}
					<select name="start_date_year">
						{S_LOTTERY_START_YEAR_OPTIONS}
					</select>
				</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="start_date">{L_MCP_END_TIME}{L_COLON}</label>
			</dt>
			<dd>
				<label for="end_date_day">
					{L_DAY}{L_COLON}
					<select name="end_date_day">
						{S_LOTTERY_END_DAY_OPTIONS}
					</select>
				</label>
				<label for="end_date_month">
					{L_MONTH}{L_COLON}
					<select name="end_date_month">
						{S_LOTTERY_END_MONTH_OPTIONS}
					</select>
				</label>
				<label for="end_date_year">
					{L_YEAR}{L_COLON}
					<select name="end_date_year">
						{S_LOTTERY_END_YEAR_OPTIONS}
					</select>
				</label>
			</dd>
		</dl>
	<!-- ENDIF -->

	<dl>
		<dt>
			<label for="ticket_cost">
				{L_MCP_TICKET_COST}{L_COLON}
			</label>
		</dt>
		<dd>
			<input type="text" name="ticket_cost" class="inputbox" maxlength="20" value="{S_TICKET_COST}" />
		</dd>
	</dl>

	<dl>
		<dt>
			<label for="max_tickets">
				{L_MCP_MAX_TICKETS}{L_COLON}
			</label>
		</dt>
		<dd>
			<input type="text" name="max_tickets" class="inputbox" maxlength="20" value="{S_MAX_TICKETS}" />
		</dd>
	</dl>

	<dl>
		<dt>
			<label for="max_tickets_user">
				{L_MCP_MAX_TICKETS_USER}{L_COLON}
			</label>
		</dt>
		<dd>
			<input type="text" name="max_tickets_user" class="inputbox" value="{S_MAX_TICKETS_USER}" />
		</dd>
	</dl>
</fieldset>
<fieldset class="submit-buttons">
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="<!-- IF S_EDIT -->{L_LOTTERY_EDIT}<!-- ELSE -->{L_SUBMIT}<!-- ENDIF -->" class="button1" />

    <!-- IF S_EDIT -->
        <input type="hidden" name="edit" value="{S_EDIT}" />
    <!-- ENDIF -->

	{S_FORM_TOKEN}
</fieldset>