<!-- INCLUDE mcp_header.html -->

<h2>{L_MCP_LOTTERY_MANAGE_GAMES}</h2>

<div class="panel">
	<div class="inner">
		<h3>{L_MCP_LOTTERY_MANAGE_GAMES}</h3>

		<!-- IF S_ERROR -->
			<div class="error">
				<p>{ERROR_MSG}</p>
			</div>
		<!-- ENDIF -->
		<!-- IF S_LOTTERY_GAMES_COUNT > 0 -->
			<table class="table1 responsive">
				<thead>
					<tr>
						<th class="name">{L_LOTTERY_NAME}</th>
						<th class="name">{L_LOTTERY_END_TIME}</th>
						<th class="name">{L_LOTTERY_TICKET_COST}</th>
						<th class="name">{L_LOTTERY_TOOLS}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN games -->
						<tr class="<!-- IF games.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
							<td><strong>{games.NAME}</strong></td>
							<td>{games.END_DATE}</td>
							<td>{games.TICKET_COST}</td>
							<td>
								<a href="{games.U_EDIT}">{L_LOTTERY_EDIT}</a>
                                :: <a href="{games.U_PLAY}">{L_LOTTERY_PLAY}</a>
							</td>
						</tr>
					<!-- END games -->
				</tbody>
			</table>
		<!-- ELSE -->
			<div>
				<strong>{L_LOTTERY_NO_GAMES}</strong>
			</div>
		<!-- ENDIF -->
	</div>
</div>	

<!-- INCLUDE mcp_footer.html -->