<!-- INCLUDE mcp_header.html -->

<h2>{L_MCP_LOTTERY_CREATE_GAME}</h2>

<div class="panel">
	<div class="inner">
		<form method="post" name="create_game_form">
			<h3><!-- IF S_EDIT -->{L_MCP_LOTTERY_EDIT_GAME}<!-- ELSE -->{L_MCP_LOTTERY_CREATE_GAME}<!-- ENDIF --></h3>

			<!-- IF S_ERROR -->
				<div class="error">
					<p>{ERROR_MSG}</p>
				</div>
			<!-- ENDIF -->

			<!-- INCLUDE includes/mcp_game_form.html -->
		</form>
	</div>
</div>	

<!-- INCLUDE mcp_footer.html -->