<!-- INCLUDE ucp_header.html -->

<h2>{L_UCP_LOTTERY_PAST_WINNERS}</h2>

<div class="panel">
	<div class="inner">
		<h3>{L_UCP_LOTTERY_PAST_WINNERS}</h3>

		<!-- IF S_LOTTERY_GAMES_COUNT > 0 -->
			<table class="table1 responsive">
				<thead>
					<tr>
						<th class="name">{L_LOTTERY_NAME}</th>
						<th class="name">{L_LOTTERY_END_TIME}</th>
						<th class="name">{L_LOT_JACKPOT}</th>
						<th class="name">{L_LOT_WINNER}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN games -->
						<tr class="<!-- IF games.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
							<td><strong><a href="{games.PLAY_URL}">{games.NAME}</a></strong></td>
							<td>{games.END_DATE}</td>
							<td>{games.JACKPOT}</td>
							<td>{games.WINNER}</td>
						</tr>
					<!-- END games -->
				</tbody>
			</table>

			<div class="pagination">
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					{PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		<!-- ELSE -->
			<div>
				<strong>{L_LOTTERY_NO_COMPLETED_GAMES}</strong>
			</div>
		<!-- ENDIF -->
	</div>
</div>	

<!-- INCLUDE ucp_footer.html -->