<!-- INCLUDE ucp_header.html -->

<h2>{L_UCP_LOTTERY_PLAY_GAME}</h2>

<div class="panel">
	<div class="inner">
		<h3>{LOT_NAME}</h3>

		<fieldset>
			<dl>
				<dt><label for="">{L_LOT_TICKETS_BOUGHT}{L_COLON}</label></dt>
				<dd>{LOT_TICKETS_BOUGHT}</dd>
			</dl>

			<dl>
				<dt><label for="">{L_LOT_TIME_RANGE}{L_COLON}</label></dt>
				<dd>{LOT_START_DATE} - {LOT_END_DATE}</dd>
			</dl>

			<dl>
				<dt><label for="">{L_LOT_JACKPOT}{L_COLON}</label></dt>
				<dd>{LOT_JACKPOT}</dd>
			</dl>

			<!-- IF !LOT_ACTIVE -->
				<dl>
					<dt><label for="">{L_LOT_WINNER}{L_COLON}</label></dt>
					<dd>{LOT_WINNER}</dd>
				</dl>

				<dl>
					<dt><label for="ticket_cost">{L_LOT_TICKET_COST}{L_COLON}</label></dt>
					<dd>{LOT_TICKET_COST}</dd>
				</dl>
			<!-- ENDIF -->

			<dl>
				<dt><label for="">{L_LOT_MY_TICKETS}{L_COLON}</label></dt>
				<dd>{S_LOT_MY_TICKETS}</dd>
			</dl>

			<!-- IF LOT_MAX_TICKETS > 0 -->
				<dl>
					<dt><label for="">{L_LOT_MAX_TICKETS}{L_COLON}</label></dt>
					<dd>{LOT_MAX_TICKETS}</dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF LOT_MAX_TICKETS_USER > 0 -->
				<dl>
					<dt><label for="">{L_LOT_MAX_TICKETS_USER}{L_COLON}</label></dt>
					<dd>{LOT_MAX_TICKETS_USER}</dd>
				</dl>
			<!-- ENDIF -->
		</fieldset>
	</div>
</div>

<!-- IF LOT_ACTIVE -->
	<div class="panel">
		<div class="inner">
			<h3>{L_LOT_PURCHASE_TICKETS}</h3>

			<!-- IF S_ERROR -->
				<div class="error">
					<p>{ERROR_MSG}</p>
				</div>
			<!-- ENDIF -->

			<form name="purchase_tickets_form" method="post">
				<fieldset>
					<dl>
						<dt><label for="ticket_cost">{L_LOT_TICKET_COST}{L_COLON}</label></dt>
						<dd>{LOT_TICKET_COST}</dd>
					</dl>
					<dl>
						<dt><label for="tickets_bought">{L_LOT_TICKETS_TO_BUY}{L_COLON}</label></dt>
						<dd><input type="text" name="tickets_bought" id="tickets_bought" value="{S_LOT_TICKETS_BOUGHT}" size="10" /> <input type="submit" name="submit" value="{L_LOT_PURCHASE}" class="button2" />
					{S_FORM_TOKEN}</dd>
					</dl>
				</fieldset>
			</form>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->